<!doctype html>
<html>
<head>
	<title>GameMine.com</title>

	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png" />
	
	<style type="text/css">
		body {
			background: #000 url({{ STATIC_URL }}img/404/bg.jpg) repeat-x;
            margin: 0;
            padding: 0;
		}
    
        h1 {
            height: 585px;
            background: center top url({{ STATIC_URL }}img/404/404.jpg) no-repeat;
            text-indent: -9999px;
			margin: 0;
			padding: 0;
        }
	</style>
</head>
<body>
	<h1>404: Not found</h1>
</body>
</html>
