<!doctype html>
<html>
<head>
    <title>GameMine.com</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png" />
    
    <style type="text/css">
        html {
            background: url({{ STATIC_URL }}img/500/bg1.jpg);
			overflow: hidden;			
        }
		
		body {
            background: #000 url({{ STATIC_URL }}img/500/bg.jpg) repeat-x;
            margin: 0;
            padding: 0;
			height: 701px;
        }
    
        h1 {
            height: 596px;
            background: center top url({{ STATIC_URL }}img/500/500.jpg) no-repeat;
            text-indent: -9999px;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>500: Server Error</h1>
</body>
</html>
