{% extends "base.html" %}

{% block title %}{{ block.super }} – What is My Game Worth?{% endblock %}

{% block head %}
  <script type="text/javascript">
  var catalogConfig = {
    autoFilter: {{ auto_filter|yesno:"true,false" }},
    mediaUrl: "{{ STATIC_URL }}"
  },
  introConfig = {
    wimgwURL: '{% url project.views.wimgw %}'
  };

  $(function () {
    $('.banner-content').balalaykaBanner({url: '{% url project.banners.views.balalayka %}'});
  });
  </script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/intro.js?rev={{ REV }}"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/catalog.js?rev={{ REV }}"></script>
{% endblock %}

{% block page-class %}banner-page intro2-wimgw-page intro2-page{% endblock %}

{% block content-header %}
  <div class="banner-featured-game">
    <div class="banner-content"></div>

    <div class="banner-carousel">
      {% include 'partials/wimgw/best_sellers_carousel.html' %}
    </div>

    <div class="banner-line">
      <div id="banner-line-a">
        <div id="id_sidebar_subscription">
          <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="email" autocomplete="off"/>
            <input type="submit" value="Sign Up"/>
          </form>
        </div>
      </div>

      <div id="banner-line-b">
        <a href="{% url simple-page 'Free-Shipping' %}"><span>Free Shipping</span></a>
      </div>

      <div id="banner-line-c">
        <a href="/ESRB/"><span>ESRB</span></a>
      </div>

    </div>

    <div class="banner-categories">
      <ul>
        {% for c in CATALOG_CATEGORIES %}
        <li id="banner-category-{{ c.0 }}"{% if forloop.last  %} class="last-item"{% endif %}><a href="{% url catalog:category c.0 %}"{% if category.slug == c.0 %} class="current"{% endif %}><span>{{ c.1 }}</span></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content-header %}

{% block content %}
{% with 1 as wimgw %}

<div id="intro-wimgw-page-content">

  <div id="intro-wimgw-page-content-center">
    {% include "partials/wimgw.html" %}
  </div>

  <div id="catalog-sidebar">
    <div id="catalog-sidebar-filters">
      <div class="sidebar-block checkbox-block-type-1">
        <h4>Genres</h4>
        <ul id="genres-filter">
          <li{% if not wimgw %} class="checked"{% endif %}><input type="checkbox" class="first" id="genre-all" {% if not wimgw %}checked="checked" {% endif %}/><label for="genre-all">View All <span>({{ all_games_count }})</span></label></li>
        {% for g in genres %}
          <li><input name="genre" class="other" type="checkbox" id="genre-{{ g.id }}" /><label for="genre-{{ g.id }}">{{ g.name }} <span>({{ g.item_count }})</span></label></li>
        {% endfor %}
        </ul>
      </div>
      <div class="sidebar-block alt checkbox-block-type-1">
        <h4>Date Released</h4>
        <ul id="years-filter">
          <li{% if not wimgw %} class="checked"{% endif %}><input type="checkbox" class="first" id="years-all" {% if not wimgw %}checked="checked" {% endif %}/><label for="years-all">View All <span>({{ all_games_count }})</span></label></li>
        {% for y in years %}
          <li><input name="year" class="other" type="checkbox" id="year-{{ y.year }}" /><label for="year-{{ y.year }}">{{ y.year }} <span>({{ y.count }})</span></label></li>
        {% endfor %}
        </ul>
      </div>
      <div class="sidebar-block checkbox-block-type-2">
        <h4>User Rating</h4>
        <ul id="rating-filter">
        {% for r in ratings %}
          <li><input name="rating" class="other" type="checkbox" id="rating-{{ r.rating }}" /><label for="rating-{{ r.rating }}">{{ r.rating }} stars <span>({{ r.count }})</span></label></li>
        {% endfor %}
        </ul>
      </div>
      <div class="sidebar-block alt checkbox-block-type-2">
        <h4>Buy Price</h4>
        <ul id="price-filter">
        {% for r in prices %}
          <li><input name="price" class="other" type="checkbox" id="price-{{ r.price }}" /><label for="price-{{ r.price }}">{{ r.text }} <span>({{ r.count }})</span></label></li>
        {% endfor %}
        </ul>
      </div>
      <div class="sidebar-block checkbox-block-type-2">
        <h4>Trade Values</h4>
        <ul id="trade-filter">
        {% for r in trade %}
          <li><input name="trade" class="other" type="checkbox" id="trade-{{ r.price }}" /><label for="trade-{{ r.price }}">{{ r.text }} {% if r.count %}<span>({{ r.count }})</span>{% endif %}</label></li>
        {% endfor %}
          <li{% if wimgw %} class="checked"{% endif %}><input name="trade" class="special" type="checkbox" id="trade-100" {% if wimgw %}checked="checked"{% endif %}/><label for="trade-100">What is My Game Worth?</label></li>
        </ul>
      </div>
      <div class="sidebar-block alt checkbox-block-type-2">
        <h4>Rent Availabilty</h4>
        <ul id="availability-filter">
        {% for r in availability %}
          <li><input name="availability" class="other" type="checkbox" id="availability-{{ r.id }}" /><label for="availability-{{ r.id }}">{{ r.text }} <span>({{ r.count }})</span></label></li>
        {% endfor %}
        </ul>
      </div>
      <div class="sidebar-block checkbox-block-type-2">
        <h4>ESBR Ratings</h4>
        <ul id="esrb-filter">
        {% for r in esrb %}
          <li><input name="esrb" class="other" type="checkbox" id="esrb-{{ r.id }}" /><img src="{{ r.image.url }}" height="30" /><label for="esrb-{{ r.id }}"> {{ r.title }} <span>({{ r.item_count }})</span></label></li>
        {% endfor %}
        </ul>
      </div>
      <div class="sidebar-block alt checkbox-block-type-3">
        <h4>Coming soon</h4>
        <ul id="coming-filter">
        {% for g in coming %}
          <li><input name="coming" type="checkbox" id="coming-{{ g.id }}" /><label for="coming-{{ g.id }}">{{ g.name }} <span>({{ g.count }})</span></label></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="clear">&nbsp;</div>

  <div class="bottom-message" style="color: #000"></div>
</div>

{% endwith %}
{% endblock content %}
