{% extends "base.html" %}

{% block title %}Buy, Trade, Rent Xbox, PS3, PS2, PSP, Wii, DS – New & Used{% endblock title %}
{% block meta-description %}GameMine offers more than 7,000 game titles to Buy, Trade or Rent online by mail - New Video Game Releases, Preowned and Used Video Games right from the comfort of your home. All your video game needs in one place all the time. – The Game Station!{% endblock meta-description %}
{% block meta-keywords %}video games, used video games, preowned games, video game rentals, buy video games, used games, buy videogames, trade videogames, rent video games, trade video games, preorder video games, game rentals, trade in video games, video game rental, buy new videogames, cheap video games, buy sell video games, rent games online, trade preowned games, preorder games, trade in games, video game rentals, buy preowned video games, game rental, discount video games, rent videogames, Xbox, PlayStation 3, PS3, PlayStation 2, PS2, Sony PSP, PSP, Nintendo Wii, Wii, Nintendo DS, DS, Nintendo GameCube, GameCube, game rental online{% endblock meta-keywords %}

{% block head %}
	{{ block.super }}
	<link href="{{ STATIC_URL }}css/members/members.css?rev={{ REV }}" rel="stylesheet" type="text/css" />
{% endblock %}
