{% extends "members/base.html" %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

<ul class="heading">
	<li class="selected">Password Reset</li>
</ul>

{% if validlink %}

<form action="" method="post" class="simple">
	<h1>Enter new password</h1>
	{% csrf_token %}
	
	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

	{% include "partials/form_errors.html" %}

	<div class="input-field">
		<label for="id_new_password1">{{ form.new_password1.label }}</label> {{ form.new_password1 }}
		{{ form.new_password1.errors }}
	</div>

	<div class="input-field">
		<label for="id_new_password2">Confirm</label> {{ form.new_password2 }}
		{{ form.new_password2.errors }}
	</div>

	<div class="form-actions">
		<a class="cancel-button" href="{% url index %}">Cancel</a>
		<input type="submit" value="Continue" class="continue-button" />
	</div>
</form>

{% else %}

<div class="simple-message">
	<div class="errors-message">
		<h1>Password reset unsuccessful</h1>
		<p>The password reset link was invalid, possibly because it has already been used. 
		Please request a new password reset.</p>
	</div>
</div>

{% endif %}

{% endblock content %}
