{% extends "members/base.html" %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

<ul class="heading">
	<li class="selected">Password Reset</li>
</ul>

<form action="{% url members:amnesia %}" method="post" class="simple">
	{% csrf_token %}

	<p class="text">Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for 
	setting a new one.</p>

	{% include "partials/form_errors.html" %}

	<div class="input-field">
		<label for="id_email">{{ form.email.label }}</label> {{ form.email }}
		{{ form.email.errors.as_ul }}
	</div>
	
	<div class="form-actions">
		<a class="cancel-button" href="{% url index %}">Cancel</a>
		<input type="submit" value="Continue" class="continue-button" />
	</div>
</form>


{% endblock content %}
