span.editor-tag-buy {
    padding-left: 18px;
    background: left top url(/m/img/intro/buy2/tag-s.png) no-repeat;
}
span.editor-tag-trade {
    padding-left: 18px;
    background: left top url(/m/img/intro/trade2/flame-s.png) no-repeat;
}