<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>E-mail confirmation</title>
</head>
<body>
  <p>You have requested subscribtion to GameMine news.
    To confirm your subscription please click following link
    <a href="{{ confirmation_url }}">{{ confirmation_url }}</a>
  </p>
  <p>If you have not requested subscription just ignore this e-mail.</p>
</body>
</html>
