.rent.landings.landing2 {
    background: black;

    .left_side {
        background: url($images_url + "rent/landings/affiliate_non_trial_side_left.jpg") top right no-repeat;
    }

    .right_side {
        background: url($images_url + "rent/landings/affiliate_non_trial_side_right.jpg") top left no-repeat;
    }

    .featured_pic {
        width: 982px;
        height: 450px;
        float: left;
        overflow: hidden;
        text-indent: -9999px;
        background: url($images_url + "rent/landings/affiliate_non_trial_main_banner.jpg") 0 0 no-repeat;
    }

    .carousel_row {
        background: url($images_url + "rent/landings/affiliate_non_trial_main_banner_part2.jpg") 0 0 no-repeat;
    }

    #footer {
        top: -100px;
    }

    .membership {
        top: 17px;
        right: 6px;
    }
}
