<div id="form-signup-non-member-2" class="legacy">
<form action="{% url cart:checkout %}" method="post">{% csrf_token %}
    <div class="side-1">
        {% if shipping_info %}
        <div id="div-same-as-shipping-address"><input type="checkbox" id="same-as-shipping-address" /><label for="same-as-shipping-address">Same as my Shipping Address</label></div>

        <script type="text/javascript">
        var shippingAddress = {
            first_name: '{{ shipping_info.first_name|default:"" }}',
            last_name:  '{{ shipping_info.last_name|default:"" }}',
            address1:   '{{ shipping_info.address1|default:"" }}',
            address2:   '{{ shipping_info.address2|default:"" }}',
            city:       '{{ shipping_info.city|default:"" }}',
            state:      '{{ shipping_info.state|default:"" }}',
            zip_code:   '{{ shipping_info.zip_code|default:"" }}'
        };
        var billingAddress = {
            first_name: '{{ billing_info.first_name|default:"" }}',
            last_name:  '{{ billing_info.last_name|default:"" }}',
            address1:   '{{ billing_info.address1|default:"" }}',
            address2:   '{{ billing_info.address2|default:"" }}',
            city:       '{{ billing_info.city|default:"" }}',
            state:      '{{ billing_info.state|default:"" }}',
            zip_code:   '{{ billing_info.zip_code|default:"" }}'
        };

        $(document).ready(function () {
          $('#same-as-shipping-address').click(function () {
            var val = $(this).attr('checked');
            if (val) {
              $('#id_1-first_name').val(shippingAddress.first_name);
              $('#id_1-last_name').val(shippingAddress.last_name);
              $('#id_1-address1').val(shippingAddress.address1);
              $('#id_1-address2').val(shippingAddress.address2);
              $('#id_1-city').val(shippingAddress.city);
              $('#id_1-state').val(shippingAddress.state);
              $('#id_1-zip_code').val(shippingAddress.zip_code);
            }
            else {
              $('#id_1-first_name').val(billingAddress.first_name);
              $('#id_1-last_name').val(billingAddress.last_name);
              $('#id_1-address1').val(billingAddress.address1);
              $('#id_1-address2').val(billingAddress.address2);
              $('#id_1-city').val(billingAddress.city);
              $('#id_1-state').val(billingAddress.state);
              $('#id_1-zip_code').val(billingAddress.zip_code);
            }
            $('#id_1-state').change();
          });
        });
        </script>
        {% endif %}

        <h3>Billing information</h3>

        <dl>
            <dt>First Name</dt>
            <dd class="field">{{ form.first_name }}</dd>

            <dt>Last Name</dt>
            <dd class="field">{{ form.last_name }}</dd>

            <dt>Address 1</dt>
            <dd class="field">{{ form.address1 }}</dd>

            <dt>Address 2</dt>
            <dd class="field">{{ form.address2 }}</dd>

            <dt>City</dt>
            <dd class="field">{{ form.city }}</dd>

            <dt>State</dt>
            <dd class="field">{{ form.state }}</dd>

            <dt>Zip Code</dt>
            <dd class="field">{{ form.zip_code }}</dd>
        </dl>
    </div>

    <div class="side-2">
        <h3>Credit Card</h3>

        <dl>
            <dt>Card Type</dt>
            <dd class="field">{{ form.type }}</dd>

            <dt>Card Number</dt>
            <dd class="field">{{ form.number }}</dd>

            <dt>Expiration Date</dt>
            <dd class="field cc_exp">
              <div>
                <div style="float:left;">{{ form.exp_month }}</div>
                <div style="float:left;margin-left: 3px;">{{ form.exp_year }}</div>
              </div>
            </dd>

            <dt>Code</dt>
            <dd class="field cc_code">{{ form.code }}
              <a class="hint-link" href="#" id="id_what_is_ccv">what's this?</a>
              <div id="id_what_is_ccv_hint" class="tooltip">
                <div class="picture"></div>
                <div class="description"></div>
              </div>
            </dd>
        </dl>

        <div class="extra">
          {% if form.correction_warning %}
            <div class="boxed information">
                <div class="title">The address has been formatted according to US Postal standards.</div>
            </div>
          {% else %}
            {% if form.form_error %}
                <div class="boxed error">
                    <div class="title">{{ form.form_error }}</div>
                    <div class="details">{{ form.form_error_message|default:"Please check the information and try again." }}</div>
                </div>
            {% else %}
                <img src="{{ STATIC_URL }}img/cclogos/cclogos.png" />
            {% endif %}
          {% endif %}
        </div>

        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
    </div>

    <div class="actions">
        <button class="wizard-back-button back-button">Back</button>
        <div class="terms"><input type="checkbox" id="id_agree" /> I have read and agree to Gamemine <a href="{% url simple-page 'Terms' %}" target="_blank">Terms of Use</a></div>
        <input type="submit" class="confirm-button" value="Confirm" />
    </div>

    <script type='text/javascript'>
      $(document).ready(function(){
        $('#id_1-state').setupSelect('w190px');
        $('#id_1-type').setupSelect('w190px');
        $('#id_1-exp_month').setupSelect('w94px');
        $('#id_1-exp_year').setupSelect('w94px');

        $('#form-signup-non-member-2 form').get(0).validate = function(){
            var agree = $('#id_agree').is(':checked');
            if (agree) return true;
            alert('You have to agree to the terms and conditions.');
            return false;
        };
        $('.confirm-button').click(function(){
            $('.confirm-button').val($(this).val());
            return true;
        });

        setupCCVTooltip($('#id_what_is_ccv'), $('#id_what_is_ccv_hint'), $('#id_1-type'));
      });
    </script>
</form>
</div>

