{% extends 'staff/customer/base.html' %}
{% load pagination %}

{% block page-class %}{{ block.super }} staff-page-customer-emails{% endblock page-class %}

{% block right %}

<div class="module">
  <table>
    <thead>
     <tr>
       <td>Date</td>
       <td>Subject</td>
       <td>From</td>
       <td>Status</td>
       <td>Last Error</td>
       <td>&nbsp;</td>
     </tr>
    </thead>
    <tbody>
    {% for e in emails %}
      <tr>
       <td>{{ e.created|date }} {{ e.created|time }}</td>
       <td>{{ e.subject }}</td>
       <td>{{ e.mailfrom }}</td>
       <td>{{ e.get_status_display }}</td>
       <td>{{ e.last_error|default:"" }}</td>
       <td><a href="{% url staff:customer_email user.id e.id %}">Details</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% pagination %}

{% endblock right %}

