<div id="non-authenticated-checkout-wizard">
    <div id="dialog-heading">
        <div id="dialog-heading-step">&nbsp;</div>
        <h1>Already have an account</h1>
        
        <div id="dialog-title"><a class="dialog-close-button" href="#" title="Close">Close</a>Trade Games</div>
    </div>
    
    <div id="dialog-content" class="non-authenticated-checkout-wizard-1">
    	<div class="login-actions">
    		<a href="{% url members:login %}" class="login-button">Login</a>
            <a href="{% url trade:login %}?do=signup" class="signup-button link-dialog">Signup</a>
			<div class="pepyaka"></div>
    	</div>
    </div>
	
	<div id="wizard-starfighters"></div>
</div>

