{% extends "members/history/base.html" %}

{% block heading %}
    <li class="selected"><a href="{% url members:buy_history %}">Buy History</a></li>
    <li><a href="{% url members:trade_history %}">Trade History</a></li>
    <li><a href="{% url members:rent_history %}">Rent History</a></li>
{% endblock heading %}

{% block history-page-content %}

<table class="history-table">
    <thead>
	    <tr>
            <th class="no-column">&nbsp;</th>
	        <th class="title-column">Title</th>
	        <th class="condition-column">Condition</th>
	        <th class="platform-column">System</th>
	        <th class="order-number-column">Order Number</th>
	        <th class="date-column">Order Date</th>
	        <th class="price-column">Price</th>
            <th class="result-column">Result</th>
	    </tr>
    </thead>
    {% for i in history %}
    <tbody class="{% cycle 'row1' 'row2' %}">
	    <tr>
            <td class="no-column">{{ forloop.counter }}.</td>
	        <td class="title-column"><a href="{{ i.item.get_absolute_url }}">{{ i.item.short_name }}</a></td>
	        <td class="condition-column">{{ i.is_new|yesno:"NG,UG" }}</td>
	        <td class="platform-column">{{ i.item.category }}</td>
	        <td class="order-number-column">{{ i.order_no }}</td>
	        <td class="date-column">{{ i.date|date }}</td>
	        <td class="price-column">${{ i.price }}</td>
            <th class="result-column">{% if i.claims %}Claim{% else %}&nbsp;{% endif %}</th>
	    </tr>
        {% for claim in i.claims %}
        <tr class="claim">
            <td class="no-column">&nbsp;</td>
            <td class="title-column" colspan="7">Details: Reported {{ claim.get_normalized_display }} on {{ claim.date|date }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% empty %}
    <tr>
        <td class="title-column" colspan="6">&mdash;</td>
    </tr>
    {% endfor %}
</table>

{% endblock history-page-content %}
