{% extends "staff/fulfillment.html" %}
{% load pagination %} 

{% block right %}{{ block.super }}

<div class="module">
  <h2>Shipped Games</h2>

  <div><form method="get">{{ form.q }} <input type="submit" value="Search" /> </form></div>

  <table>
    <thead>
      <tr>
        <td>Customer</td>
        <td>Order No</td>
        <td>Title</td>
        <td>Inventory ID</td>
        <td>Platform</td>
        <td>Type</td>
        <td width="80">Shipped</td>
        <td>Shipped from</td>
        <td>Home DC</td>
        <td width="100">&nbsp;</td>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
      <tr>
        <td><a href="{% url staff:customer_view order.user.id %}" target="_blank">{{ order.user.get_profile.get_name_display }}</a></td>
        <td><a href="{% url staff:rent_order_details order.id %}" target="_blank">#{{ order.order_no }}</a></td>
        <td><a href="{{ order.item.get_absolute_url }}" target="_blank">{{ order.item.name }}</a></td>
        <td><a href="{% url staff:page 'Reports/Inventory' %}?q={{ order.inventory.barcode }}" target="_blank">{{ order.inventory.barcode }}</a></td>
        <td>{{ order.item.category }}</td>
        <td>Rent</td>
        <td>{{ order.date_shipped|date }}</td>
        <td>{{ order.source_dc.code }}</td>
        <td>{{ order.user.get_profile.dropship.code }}</td>
        <td>
          <a href="{% url staff:rent_labels %}?ids={{ order.id }}" target="_blank">Labels</a>
          | <a href="{% url staff:rent_order_details order.id %}">Details</a>
        </td>
      </tr>
    {% endfor %}      
    </tbody>
  </table>
</div>
{% pagination %}                                                                                       

{% endblock right %}
