@mixin debug {
//    background: rgba(255, 255, 0, .2);
}

.account-login-password {
    #account-login-password-content {
        @include debug;
        
        font-size: 13px;
        margin: 40px 180px;
        color: #333;
        
        dl.fields {
            dt {
                @include debug;

                float: left;
                clear: left;
                width: 150px;
                text-align: right;
                line-height: 21px;
                margin-bottom: 10px;
            }
            
            dd {
                @include debug;

                margin: 0 0 10px 160px;
            }
        }
        
        .input {
            width: 250px;
            input {
                //font-weight: bold !important;
                //color: #3867BF !important;
            }
        }
        
        .hint {
            font-size: 11px;
            line-height: 20px;
            padding-left: 10px;
        }
        
        .hint {
            font-size: 11px;
            line-height: 20px;
            padding-left: 10px;
        }
        
        .errorlist {
            font-size: 11px;
            line-height: 20px;
            padding-left: 10px;
            color: red;
            padding-left: 10px !important;
            width: 230px;
        }
        
        .actions {
            clear: both;
            padding: 20px 0 0 155px;
            
            input {
                margin: 0 5px;
            }
        }
    }
}
