{% extends "staff/fulfillment.html" %}

{% block right %}{{ block.super }}

{% regroup taxes by county.state as taxes_list %}

<div>
</div>

<div class="module">
  <h2>Taxes
  |
  <a href="{% url staff:add_state_tax %}" class="edit-tax-action" style="color: #fff">Add new tax</a>
    
  </h2>
  <table>
    <thead>
      <tr>
        <td>State</td>
        <td>Value</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    {% for tax in taxes %}
    <tbody class="{% cycle odd,even %}">
      <tr>
        <td>{{ tax.state }}</td>
        <td>{{ tax.value }}%</td>
        <td><a href="{% url staff:edit_state_tax tax.id %}" class="edit-tax-action">Edit</a> | <a href="{% url staff:delete_state_tax tax.id %}" class="delete-tax">Delete</a></td>
      </tr>
    </tbody>
    {% endfor %}      
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('a.edit-tax-action').colorbox();
    
    $('a.delete-tax').click(function (){
      if (!confirm('Do you really want to delete the tax?'))
        return false;
      $.post($(this).attr('href'), function (data) {
        window.location = data.redirect_to;         
      });
      return false;
    });
  });
</script>

{% endblock right %}
