#form-signup-non-member-2 {
   .side-1 {
      float: left;
      width: 350px;
      height: 250px;
      
      #div-same-as-shipping-address {
         float: right;
         line-height: 13px;
         padding: 2px 40px 0 0;
      }
      
      dt {
         float: left;
         clear: left;
         width: 100px;
         text-align: right;
         padding-top: 4px;
      }
      
      dd.field {
         float: left;
         margin-left: 8px;
         width: 190px;
         margin-bottom: 7px;
         
         .input {
            width: 190px;
         }
      }
   }
   
   .side-2 {
      width: 340px;
      margin-left: 350px;
      height: 250px;
      
      h3 {
         padding-left: 108px;
      }
      
      dl {
         height: 120px;
      }
      
      dt {
         float: left;
         padding-top: 4px;
         text-align: right;
         width: 100px;  
      }
      
      dd.field {
         float: left;
         margin-left: 8px;
         width: 210px;
         margin-bottom: 7px;
         
         .input {
            width: 190px;
         }
         
         &.cc_exp {
            select {
               width: 90px !important;
               margin-right: 10px;
            }
         }
         
         &.cc_code {
            .input {
               @include inline-block;
               width: 90px !important;
            }
            
            a {
               line-height: 23px;
            }
         }
      }
   }
   
   .actions {
      height: 37px;

      [class$="button"] {
         bottom: 8px;
      }

      .terms {
         height: 23px;
         line-height: 23px;
         color: #666;
         margin: 0 auto;
         width: 300px;
      }
   }

   .extra {
      .boxed {
         width: 340px;
      }
   }
}
