{% extends "intro/base.html" %}

{% block title %}Trade Xbox, PS3, PS2, PSP, Wii, DS – Highest Values!{% endblock %}
{% block meta-description %}Gamemine offers more than 7,000 game titles to Buy, Trade or Rent online by mail - New Video Game Releases, Preowned and Used Video Games right from the comfort of your home. All your video game needs in one place all the time. – The Game Station!{% endblock meta-description %}
{% block meta-keywords %}trade video games, trade n games, video game trade values, play n trade video games, trade n play video games, where to buy video games, video game trade value, swap video games, trade in value video games, trade in video games value, buy and trade video games, trade in values video games, trade video games online, trade used video games, trade video games for cash, trade in video games for cash, play and trade video games, trade in used video games, trade in values for video games, trade in value for video games, trade in videogames, trade video games free, trade in old video games, trade in video games online, trade in value of video games, play & trade video games, where can i trade video games, what is my video game worth, what is my game worth, what is my games worth, what is my video games worth, whats my video game worth, whats my game worth, we buy video games, stores that trade video games{% endblock meta-keywords %}	

{% block banner-id %}trade-banner{% endblock %}

{% block welcome-link %}<a href="/Browse-Games/#top-trades" id="item-welcome">Top Trades</a>{% endblock %}

