<div id="footer-copy">
	<p>© Gamemine Direct, LLC 2010, All Rights Reserved.</p>					 
	<a href="{% url simple-page 'Terms' %}">Terms of Use</a>
	<span class="separator"> | </span> 
	<a href="{% url simple-page 'Privacy' %}">Privacy Policy</a>
</div>  
<div id="footer-3-copy-inner">
	<p>Portions of content provided by Rovi Data Solutions, Inc. and IGN Entertainment, Inc.</p>
	<p>Joint copyright © 2010 Rovi Data Solutions, Inc. and IGN Entertainment, Inc.</p>
	<p>Images are copyright by their respectful owners and are intended only for display use.</p>
</div>	