{% extends "admin/base_site.html" %}
{% load i18n %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}


{% block breadcrumbs %}
{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url admin:index %}">{% trans "Admin." %}</a> &rsaquo;
     <a href="{% url admin:app_list "os3marketing" %}">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     <a href="{% url admin:os3marketing_newsletter_changelist %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo; 
     {%trans "Statistics"%}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main">
  <!-- Receptions -->
  <div class="module">
    <table summary="Estat&iacute;sticas de abertura">
      <caption><a href="#" class="section">{%trans "Opening statistics"%}</a></caption>
      <tr>
      	<td>&nbsp;</td>
      	<td>{%trans "Opening"%}</td>
      	<td>{%trans "Unique"%}</td>
      	<td>%</td>
      </tr>
      <tr>
        <th scope="row">{%trans "E-mail"%}</th>
        <td>{{ stats.email_total_openings }}</td>
    	<td>{{ stats.email_unique_openings }}</td>
    	<td>{{ stats.email_unique_openings_percent|floatformat:2  }}</td>    	
    	
      </tr>
      <tr>
        <th scope="row">{%trans "Site"%}</th>
        <td>{{ stats.site_total_openings }}</td>
    	<td>{{ stats.site_unique_openings }}</td>
    	<td>{{ stats.site_unique_openings_percent|floatformat:2  }}</td>
      </tr>
      <tr>
        <th scope="row">{%trans "Total amount"%}</th>
        <td>{{ stats.total_total_openings }}</td>
    	<td>&nbsp;</td>
    	<td>&nbsp;</td>
      </tr>     
    </table> 
  </div>
   <!-- DESINSCRICOES -->
  <div class="module">
    <table summary="Estat&iacute;stica de Deinscri&ccedil;&otilde;es">
      <caption><a href="#" class="section">{%trans "Unsubscribers statistics"%}</a></caption>
      <tr>
        <th scope="row">{%trans "Unsubscribers"%}</th>
        <td>{{ stats.total_unsubscriptions }}</td>
        <td>{{ stats.total_unsubscriptions_percent|floatformat:2 }}%</td>
      </tr>
    </table>
  </div> 
  <!-- Links -->
  <div class="module">
    <table summary="Estat&iacute;stica de Links">
      <caption><a href="#" class="section">{%trans "Links statistics"%}</a></caption>
      <tr>
        <th scope="row">{%trans "Total amount of link clicks"%}</th>
        <td>{{ stats.clicked_links }}</td>
      </tr>
      <tr>
        <th scope="row">{%trans "Total amount of unique link clicks"%}</th>
        <td>{{ stats.unique_clicked_links }}</td>
      </tr>
    </table>
  </div> 
  
  <div class="module">
    <table summary="Mais clicados">
      <caption><a href="#" class="section">{%trans "Most clicked"%}</a></caption>
  	{% for top_link in stats.top_links %}
		<tr>
			<th scope="row">
				<a href="{{ top_link.link.url }}" title="{{ top_link.link.title }}" target="blank">{{ top_link.link.title }}</a> 
		 		<span class="quiet"> - {% trans "received"%} {{ top_link.total_clicks }} {% trans "click"%}</span>
		 		<span class="mini quiet"> - {% trans "Unique:"%} {{ top_link.unique_clicks }}</span>			
			</th>
	      	<td>&nbsp;</td>
	      	 <td>&nbsp;</td>
		</tr>  	
	{% empty %}
		<tr>
			<th scope="row">
				{%trans "No link clicked yet"%}	
			</th>
      		<td>&nbsp;</td>
  		    <td>&nbsp;</td>
		</tr>  
	{% endfor %}      
    </table>
  </div>   
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module" style="width:400px;">
        <h2>{%trans "Information"%}</h2>
		<h3>Total Contacts</h3>
		<p>{{ stats.mails_to_send }}</p>	    
	    {%if not stats.canceled%}    
	        <h3>{%trans "Status"%}</h3>
			<p>{{ object.get_status_display }} {% if stats.remaining_mails %}<span class="mini quiet">(-{{ stats.remaining_mails }})</span>{% endif %}</p>
		{%endif%}	
			
		<h3>{%trans "date sent"%}</h3>
		<p>{{ object.sending_date|date:"d M Y H:i" }}</p>
		
		{% if stats.tests_sent %}
			<h3>{%trans "send test"%}</h3>
			<p>{{ stats.tests_sent }}</p>
		{% endif %}
    </div>
</div>
{%endblock%}