<table class="verisign" width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications.">
<tr>
<td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.gamemine.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br />
</td>
<script type="text/javascript">
    $(".verisign img").attr("src", "{{ STATIC_URL }}img/logo_verisign.png");
    $(".verisign").toggle();
</script>
</tr>
</table>