{% extends "new_rent/dialogs/rent_signup/base.html" %}

{% block dialog_title %}Billing Information{% endblock %}

{% block dialog_content %}
<div id="form-signup-non-member-2">
<form action="{% url new_rent:sign_up %}" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        <div class="side-1">
        {% if shipping_info %}
        <div id="div-same-as-shipping-address"><input type="checkbox" id="same-as-shipping-address" /><label for="same-as-shipping-address">Same as Shipping Address</label></div>

        <script type="text/javascript">
        var shippingAddress = {
            first_name: '{{ shipping_info.first_name|default:"" }}',
            last_name:  '{{ shipping_info.last_name|default:"" }}',
            address1:   '{{ shipping_info.address1|default:"" }}',
            address2:   '{{ shipping_info.address2|default:"" }}',
            city:       '{{ shipping_info.city|default:"" }}',
            state:      '{{ shipping_info.state|default:"" }}',
            zip_code:   '{{ shipping_info.zip_code|default:"" }}'
        };
        var billingAddress = {
            first_name: '{{ billing_info.first_name|default:"" }}',
            last_name:  '{{ billing_info.last_name|default:"" }}',
            address1:   '{{ billing_info.address1|default:"" }}',
            address2:   '{{ billing_info.address2|default:"" }}',
            city:       '{{ billing_info.city|default:"" }}',
            state:      '{{ billing_info.state|default:"" }}',
            zip_code:   '{{ billing_info.zip_code|default:"" }}'
        };

        $(document).ready(function () {
          $('#same-as-shipping-address').click(function () {
            var val = $(this).attr('checked');
            if (val) {
              $('#id_2-first_name').val(shippingAddress.first_name);
              $('#id_2-last_name').val(shippingAddress.last_name);
              $('#id_2-address1').val(shippingAddress.address1);
              $('#id_2-address2').val(shippingAddress.address2);
              $('#id_2-city').val(shippingAddress.city);
              $('#id_2-state').val(shippingAddress.state);
              $('#id_2-zip_code').val(shippingAddress.zip_code);
            }
            else {
              $('#id_2-first_name').val(billingAddress.first_name);
              $('#id_2-last_name').val(billingAddress.last_name);
              $('#id_2-address1').val(billingAddress.address1);
              $('#id_2-address2').val(billingAddress.address2);
              $('#id_2-city').val(billingAddress.city);
              $('#id_2-state').val(billingAddress.state);
              $('#id_2-zip_code').val(billingAddress.zip_code);
            }
            $('#id_2-state').change();
          });
        });
        </script>
        {% endif %}

        <h3>Billing Information</h3>

        <dl>
            <dt>First Name</dt>
            <dd class="field">{{ wizard.form.first_name }}</dd>

            <dt>Last Name</dt>
            <dd class="field">{{ wizard.form.last_name }}</dd>

            <dt>Address 1</dt>
            <dd class="field">{{ wizard.form.address1 }}</dd>

            <dt>Address 2</dt>
            <dd class="field">{{ wizard.form.address2 }}</dd>

            <dt>City</dt>
            <dd class="field">{{ wizard.form.city }}</dd>

            <dt>State</dt>
            <dd class="field">{{ wizard.form.state }}</dd>

            <dt>Zip Code</dt>
            <dd class="field">{{ wizard.form.zip_code }}</dd>
        </dl>
    </div>

    <div class="side-2">
        <h3>Credit Card</h3>

        <dl>
            <dt>Card Type</dt>
            <dd class="field">{{ wizard.form.type }}</dd>

            <dt>Card Number</dt>
            <dd class="field">{{ wizard.form.number }}</dd>

            <dt>Expiration Date</dt>
            <dd class="field cc_exp">
              <div>
                <div style="float:left;">{{ wizard.form.exp_month }}</div>
                <div style="float:left;margin-left: 3px;">{{ wizard.form.exp_year }}</div>
              </div>
            </dd>

            <dt>Code</dt>
            <dd class="field cc_code">{{ wizard.form.code }}
              <a class="hint-link" href="#" id="id_what_is_ccv">what's this?</a>
              <div id="id_what_is_ccv_hint" class="tooltip">
                <div class="picture"></div>
                <div class="description"></div>
              </div>
            </dd>
        </dl>

        <div class="extra">
          {% if wizard.form.error %}
          {% if "has been formatted" in wizard.form.error %}
            <div class="boxed information">
                <div class="title">The address has been formatted according to US Postal standards.</div>
            </div>
          {% else %}
              <div class="boxed error">
                  <div class="title">{{ wizard.form.error|safe }}</div>
                  <div class="details">{{ wizard.form.error_message|default:"Please check the information and try again." }}</div>
              </div>
          {% endif %}
          {% else %}
            <img src="{{ STATIC_URL }}img/cclogos/cclogos.png" />
          {% endif %}
        </div>

        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
    </div>

    <div class="actions">
      <p class="terms0">
      {% if rental_plan.slug == "free_trial" %}
      Your membership, which starts with a 10-day free trial, will
      begin when you click Confirm. Simply cancel anytime in your
      first ten days and you will not be charged. If you are enjoying
      Gamemine, do nothing and you authorize us to continue your
      month-to-month membership automatically on the
      {{ rental_plan.features.0 }} plan rate
      (currently ${{ rental_plan.first_payment_amount }} plus any
      applicable tax) per month, charged to the payment method
      provided.
      {% else %}
      Your membership, which starts with an
      ${{ rental_plan.first_payment_amount }} first month, will begin
      when you click Confirm. If you decide to continue your Gamemine
      membership, you authorize us to continue your month-to-month
      membership automatically on the {{ rental_plan.features.0 }} plan rate
      (currently ${{ rental_plan.thereafter_payments_amount }} plus any applicable tax)
      per month, charged to the payment method provided, for as long
      as you choose to remain a member.
      {% endif %}
      </p>
      <button class="wizard-back-button back-button">Back</button>
    <div class="terms"><input type="checkbox" id="id_agree" /> I have
      read and agree to the Gamemine <a href="{% url simple-page 'Terms' %}" target="_blank">Terms of Use</a></div>
    <input type="submit" class="continue-button" value="Continue" />
    </div>

    <script text='text/javascript'>
      $(document).ready(function(){
        $("[id^=form-signup] form").get(0).validate = function(){
            var agree = $('#id_agree').is(':checked');
            if (agree) return true;
            alert('You have to agree to the terms and conditions.');
            return false;
        };
        $('.continue-button').click(function(){
            $('.continue-button').val($(this).val());
            return true;
        });

        $('#id_2-state').setupSelect("w190px");
        $('#id_2-type').setupSelect("w190px");
        $('#id_2-exp_month').setupSelect('w94px');
        $('#id_2-exp_year').setupSelect('w94px');
        setupCCVTooltip($('#id_what_is_ccv'), $('#id_what_is_ccv_hint'), $('#id_2-type'));
      });
    </script>
</form>
</div>
{% endblock %}
