@import "mixins";


#header-signup-popup {
	form {
		margin: 10px 20px 0;
		color: #666;
		font-size: 11px;
		
		.input-field {
			label {
				// background: rgba(255, 255, 0, .3);
				text-transform: uppercase;
				height: 23px;
				line-height: 23px;
				display: block;
				float: left;
				width: 80px;
				text-align: right;
				clear: both;
			}
			
			.input {
				width: 180px;
				margin: 0 0 15px 90px;
			}
		}
		
		.checkbox-field {
			line-height: 23px;
			text-align: right;
			margin-bottom: 10px;
		}
		
		#forgot-password-div {
			height: 0;
			margin: 0;
			
			a {
				@include heading-anchor;
				position: absolute;
				color: #333;
				line-height: 23px;
			}
		}
		
		.form-actions {
			height: 33px;
			
			.cancel-button { display: none; }
			
			a {
				float: left;
				line-height: 23px;
				font-size: 11px;
				@include heading-anchor;
				color: #666;
			}
			
			input[type=submit] {
				float: right;
			}
		}
	}
}
