{% extends "staff/fulfillment.html" %}

{% block right %}{{ block.super }}

<div class="module">
  <h2>Lists Banner</h2>
  
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
      {% if banner and banner.image %}<tr><td class="c" colspan="2"><img src="{{ banner.image.url }}"/></td></tr>{% endif %}
      {{ form.as_table }}
    </table>
  
    <div class="actions">
      <input type="submit" value="Save"/>
      {% if banner %}
      <a href="{% url staff:delete_lists_banner banner.id %}" id="delete-button">Delete</a>
      {% endif %}
    </div>
  </form>
</div>

<script type="text/javascript">
  $(function(){
    $('#delete-button').click(function(){
      return confirm('Do you really want to delete this featured game?');
    });
  });
</script>

{% endblock right %}

