{% extends "members/account/account.html" %}

{% block page-class %}{{ block.super }} account-login-password{% endblock page-class %}

{% block heading %}
	<li><a href="{% url members:name_and_address %}">Name and Address</a></li>
	<li><a href="{% url members:payment_method %}">Payment Method</a></li>
	<li class="selected"><a href="{% url members:login_and_password %}">Login/Password</a></li>
	<li><a href="{% url members:billing_history %}">Billing History</a></li>
	<li><a href="{% url members:report_problems %}">Report Problem</a></li>
{% endblock heading %}

{% block page-content %}
<div id="account-login-password-content">
<form action="{% url members:login_and_password %}" method="post">
    {% csrf_token %}
    {% include "partials/form_errors.html" %}

	<dl class="fields">
		<dt>Sign In Name</dt>
		<dd>
			{{ form.email }}
			{% if form.email.errors %} 
        {{ form.email.errors }}
      {% else %}
        <div class="hint">Email address required. Example, cindy@aol.com</div>
      {% endif %}
		</dd>

        <dt>New Password</dt>
        <dd>
            {{ form.password }}
            {% if form.password.errors %}
              {{ form.password.errors }}
            {% else %}
              <div class="hint">4-10 Characters (case sensitive)</div>
            {% endif %} 
        </dd>

        <dt>Re-Type New Password</dt>
        <dd>
            {{ form.confirm_password }}
            {{ form.confirm_password.errors }}
        </dd>
	</dl>
    <div class="actions">
    	<input type="reset" value="Cancel" class="cancel-button" /><input type="submit" value="Save" class="save-button" />
	</div>	
</form>
</div>
{% endblock page-content %}
