<div id="banner-carousel-content" class="intro-best-sellers">
  
  <a class="switcher" id="switchto-most-rentals" href="#Most-Populat-Rentals"><span>Most Populat Rentals</span></a>
  <a class="switcher" id="switchto-hottest-tradins" href="#Hottest-Trade-Ins"><span>Hottest Trade-Ins</span></a>

  <ul id="intro-carousel" class="games-thumb-list">
  {% for i in best_sellers %}
    <li>
      <div class="catalog-item-2">
        <a class="image" href="{{ i.get_absolute_url }}"><img src="{{ i.get_thumb_image3 }}" width="120" height="160" /></a>
        
        <div class="title"><a href="{{ i.get_absolute_url }}" title="{{ i }}">{{ i.get_cropped_name_15 }}</a></div>
        <div class="price">${{ i.get_min_price }}</div>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
