{% extends "base.html" %}

{% block page-class %}free-shipping-page{% endblock page-class %}

{% block content-header %}
  <div id="free-shipping-title"></div>
{% endblock content-header %}

{% block content %}
<div id="free-shipping-page">

<h1>Free Ground Shipping on all New and Used Games</h1>          

<h2>Step 1</h2>
<p>Add any new or used video game to your shopping cart.</p>                     

<h2>Step 2</h2>
<p>Proceed to checkout as normal and select <em>USA GROUND</em> as your shipping method.</p>                      

<h2>Step 3</h2>
<p>Your shipping discount will automatically be applied at checkout.</p>                     

<p class="terms"><strong>TERMS AND CONDITIONS:</strong></p>                     
<p>Terms of offer subject to change at any time. This offer is available while supplies last. 
  Valid only on orders shipping within the continental US. Limit 1 discount per customer. 
  May not be combined with other offers.</p>                       
                
</div>
{% endblock content %}
