{% extends "simple_pages/base.html" %} {% block title %}{{ block.super }} – Privacy Policy{% endblock %}

{% block content %}
<ul class="heading">
	<li class="selected">Privacy Policy</li>
</ul>

<p></>Date Last Updated 08-16-2009</p>


<p>We have implemented this Privacy Policy to guide how we gather,
amass, and employ the information you make available to us online.
Gamemine respects the confidentiality rights of our online patrons and
is dedicated to shielding the private information collected about you.</p>

<p>This Privacy Policy presently applies to the subsequent websites
operated by Gamemine (communally referred to as "website"): <a
	href="http://www.gamemine.com">www.gamemine.com</a></p>

<p>This Privacy Policy applies only to information collected and
submitted online throughout the website listed above, and does not share
information that may be collected by Gamemine offline.</p>

<h2>This Privacy Policy Contains</h2>

<ol class="upper-latin">
	<li><a href="#a">How You Can Safeguard Your Privacy</a></li>
	<li><a href="#b">Gamemine.com and Children Under 13</a></li>
	<li><a href="#c">E-mail Privacy</a></li>
	<li><a href="#d">Why Gamemine.com Collects Information</a></li>
	<li><a href="#e">Types of Information Gamemine.com Collects</a></li>
	<li><a href="#f">Security</a></li>
	<li><a href="#g">Sharing of Information</a></li>
	<li><a href="#h">Updating Your Information</a></li>
	<li><a href="#i">Notices</a></li>
	<li><a href="#j">Contact Us</a></li>
</ol>



<h2>Contents of Privacy Policy:</h2>

Contents of Privacy Policy:

<p>By using our website, you are indicating your agreement to
Gamemine's Privacy Policy and Gamemine's Terms & Conditions of Use. If
you do not agree to this Privacy Policy, please do not use GameMine.com.
We keep the right to make changes to this Privacy Policy at anytime.
Please check back from periodically to make certain that you are alert
of these changes. Your continual use of our website will indicate your
recognition of these changes. If we make any modifications to this
Privacy Policy, we will inform you by posting the alteration on this
website or in this Privacy Policy and, if needed, give you additional
choices concerning such change.</p>

<p>This Privacy Policy applies only to Gamemine, and not to websites
maintained by other companies or organizations to which we link. When
you connect to these websites or to any other sites from a website
operated by GameMine.com, this Privacy Policy no longer applies. Please
view the other sites privacy policy to understand what rights are
protected by that particular third party.</p>

<h3 id="a">A. How You Can Safeguard Your Privacy</h3>

<p>While we're always working hard to keep your personal information
safe, you must play an important role as well. Take care to prevent
unauthorized persons from learning any of your Gamemine account
information. You are solely responsible for safeguarding your e-mail
received from Gamemine, username, and password. To prevent unauthorized
use of your account, be sure to change your password often, and keep it
in a safe place.</p>

<h3 id="b">B. GameMine and Children Under 13</h3>

<p>GameMine.com requires that you must be 18 years or older to
create a Gamemine account and become a member. If you are under 18, you
may use Gamemine only with the involvement of a parent or guardian by
and through the Gamemine Parental Controls Program. We do not
consciously gather private information such as name and email address
from children 13 years old and under. We identify the significance of
protecting the privacy of children and promote parents to monitor and
observe their children's use of online behavior on a regular basis.</p>

<h3 id="c">C. E-mail Pivacy</h3>

<p>GameMine.com requires that you must be 18 years or older to
create a Gamemine account and become a member. If you are under 18, you
may use Gamemine only with the involvement of a parent or guardian by
and through the Gamemine Parental Controls Program. We do not
consciously gather private information such as name and email address
from children 13 years old and under. We identify the significance of
protecting the privacy of children and promote parents to monitor and
observe their children's use of online behavior on a regular basis.</p>

<h3 id="d">D. Why GameMine Collects Information</h3>

<p>All of the personal information we collect is used to make
Gamemine more enjoyable and more useful for our members.</p>

<p>When you join Gamemine, we ask you for certain personally
identifying information, including your full name, e-mail address,
postal address, telephone number, and billing information (such as a
credit card number). We use this personally identifying information to
create your Gamemine account, process your orders, and communicate with
you about the status of your orders. We will use your phone number only
for customer service-related calls, never for sales or marketing
purposes. If you decide not to present personal information when
prompted, you will limit the services we can give you.</p>

<h3 id="e">E. Types of Information GameMine Collects</h3>

<p>There are a number of kinds of information we accumulate from
guests to our website.</p>
<p>They consist of:</p>
<ol class="decimal">
	<li>
	<h4>Information You Give Us</h4>
	<p>When you first become a Gamemine member, we ask you to give us
	your name, address, phone number, credit card number, and other
	personally identifying information so that we can process and ship your
	orders. We may also use this information for such purposes as answering
	your requests, communicating order information to you, and improving
	our service.</p>
	</li>
	<li>
	<h4>Automatic Information</h4>
	<p>Like many websites, Gamemine.com sets "cookies" on your
	computer. Cookies are alphanumeric identifiers that we transmit to your
	computer's hard drive through your web browser, allowing us to
	automatically recognize you when you return to our site. They help us
	to match the games you've chosen to rent or buy with your individual
	account, and to personalize the Gamemine website for you. If cookies
	are not enabled on your web browser, you will not be able to use the
	Gamemine website or the Gamemine service. The "help" menu on most web
	browsers will tell you how to enable cookies.</p>
	</li>
	<li>
	<h4>Order and Billing History</h4>
	<p>Your order and billing history are also tracked automatically
	from the beginning of your Gamemine membership. This allows you to
	log-in to "My Account" and see the list of games, membership plans, or
	upgrades you've purchased from us.</p>
	</li>
</ol>

<h3 id="f">F. Security</h3>

<p>Gamemine uses a secure server to encrypt all of your personal
information. The secure server employs 128-bit Secure Socket Layer (SSL)
encryption, the most advanced encryption method available today. The SSL
works for all information provided that results in a financial
transaction either by membership or for purchase.</p>

<p>To protect your information from unauthorized access or use, we
use only the most advanced technology and security features for the
Gamemine website. We will continue to update and enhance our security
practices as new technology becomes available. We have also implemented
strict security guidelines for our employees, partners, and vendors.</p>

<p>While we make every effort to ensure the security of your
personal information, no data transmission can be guaranteed to be 100%
secure. Therefore, please be aware that when you submit information to
us, you do so at your own risk.</p>


<h3 id="g">G. Sharing of Information</h3>

<p>Except as described below, Gamemine does not sell or share your
personally identifying information to third parties without:</p>

<ol class="decimal">
	<li>Notifying you of our intent to share such information.</li>
	<li>Giving you a chance to prevent your information from being
	shared.</li>
</ol>

<p>We use outside companies, agents, and contractors to perform some
important Gamemine tasks, such as processing credit card transactions
and delivering your orders. In the course of doing so, these third
parties can come into contact with some of your personally identifying
information. However, we only give them access to the information they
need in order to actually perform their tasks, and they are bound by the
terms of this Privacy Policy - that is, they must treat your personal
information the same way we do.</p>

<p>If we think that their products or services will interest our
members, we may also partner with outside companies to send promotional
announcements to some members. If you want to be excluded from these
promotional mailings, you may opt out by logging in to "My Account" and
updating your "E-mail Subscriptions".</p>

<p>We may, at our discretion, provide our prospective partners,
advertisers, and other third parties with aggregate data about members
and visitors to the Gamemine.com site. However, such data is anonymous,
and we do not disclose personally identifying information about specific
users.</p>

<p>Gamemine reserves the right to disclose users' personal
information when suspected of fraud, intellectual property
infringements, or further activity that is illegal requires us by law to
do so.</p>

<p>In order to further provide additional offers and products,
Gamemine will offer products from third parties by and through its own
website, but it will not share your information with this third party.
The offer will result in a call to action, for which the Gamemine user
should take such action at their own discretion they can offer their
personal information to the third party.</p>

<h3 id="h">H. Updating Your Information</h3>

<p>It is important to keep your information up to date as a
subscription or purchasing customer to ensure proper delivery and
maintain accurate billing information to avoid delay in shipment. If
your shipping or billing information should change, you should
immediately update your account information, which can be accessed by
logging onto your Gamemine account from the link on the home page.</p>

<p>From that point, you must input your username and password and
then update your account information from your Gamemine Control Panel.
If for any reason you are unable to update your information or change
any part of your information from the controls provided on "My Account",
please contact Gamemine immediately for additional assistance. If you
forget or misplace your password, Gamemine can additionally reset your
password upon request and confirmation of identifying elements to your
account.</p>

<h3 id="i">I. Notices</h3>

<p>By visiting GameMine.com or using the GameMine service, your
visit and any dispute over privacy is subject to this Privacy Policy and
our <nobr>"<a href="{% url simple-page 'Terms' %}">Terms of
Use</a>",</nobr> including any limitations on damages, arbitration of disputes, and
application of the law of the State of Florida. If you have a concern
about privacy protection at GameMine.com, please send a detailed
description of the issue to <a href="mailto:customerservice@gamemine.com">mailto:customerservice@gamemine.com</a>,
and we will try to resolve it.</p>
<p>The GameMine.com web site and GameMine service will evolve over
time, and so will this Privacy Policy. Our use of any information we
gather is subject to the terms of the Privacy Policy that is in effect
at the time we use the information. We may e-mail you periodically to
notify you of updates to our Privacy Policy or Terms of Use, but you
should visit our web site frequently to view any recent changes.</p>

<h3 id="j">J. Contact Us</h3>
<p>If you have any questions, complaints, or comments concerning
this Privacy Policy, please contact our Privacy Policy Representative
at:</p>

<p>By E-mail to: <a href="mailto:customerservice@gamemine.com">customerservice@gamemine.com</a></p>

<p>OR</p>

<p>By Postal Mail to:<br />
<br />
(Attn: Policies)<br />
GAMEMINE<br />
4800 North Federal Highway, Ste 100A<br />
Boca Raton, Florida 33431</p>

{% endblock content %}
